@model IEnumerable<RedirectResultActionsCoreMvc_Demo.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-uppercase">List of Employees</h3>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0">Add New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
            <td>@Html.DisplayFor(modelItem => item.Age)</td>
            <td>@Html.DisplayFor(modelItem => item.Office)</td>
            <td>@Html.DisplayFor(modelItem => item.Position)</td>
            <td>@Html.DisplayFor(modelItem => item.Salary)</td>
            <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info rounded-0">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-0">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
